/* global.css */
@import "tailwindcss";

@layer base {
  input, select, textarea {
    background-color: var(--color-shadow) !important;
    color: var(--color-green) !important;
    border-color: var(--color-green) !important;
    @apply border rounded-md p-2 w-full;
  }
  
  *::selection {
    background-color: var(--color-highlight) !important;
    color: var(--color-background) !important;
  }

  input[type="date"]::selection,
  input[type="time"]::selection {
    background-color: var(--color-highlight) !important;
    color: var(--color-background) !important;
  }

  input[type="date"],
  input[type="time"] {
    @apply appearance-none;
  }

  input[type="date"]::selection,
  input[type="time"]::selection {
    @apply bg-highlight text-background;
  }

  input[type="date"],
  input[type="time"] {
    @apply appearance-none;
  }

  input:focus,
  select:focus,
  textarea:focus {
    border-color: theme('colors.base');
    outline: none !important;
    box-shadow: none !important;
  }

  .form-input {
    background-color: var(--color-shadow);
    color: var(--color-green);
    border-color: var(--color-green);
    @apply border rounded-md p-2 w-full appearance-none;
  }

  .border-color-accent {
    border-color: var(--color-accent);
  }

  .text-color-accent {
    color: var(--color-accent);
  }

  .placeholder-color-accent::placeholder {
    color: var(--color-accent);
  }

  /* Hide default HTML5 validation tooltip on Chrome/Firefox/Edge */
  input:invalid {
    box-shadow: none !important;
  }
  
}

@layer components {

  .react-datepicker {
    background-color: var(--color-background) !important;
    border-color: var(--color-green) !important;
    @apply rounded-md border shadow-xl;
  }

  .react-datepicker__header,
  .react-datepicker-time__header {
    background-color: var(--color-green) !important;
    color: var(--color-background) !important;
    border-color: var(--color-green) !important;
  }

  .react-datepicker__current-month,
  .react-datepicker__day-names,
  .react-datepicker__day-name  {
    background-color: var(--color-green) !important;
    color: var(--color-background) !important;
    border-color: var(--color-green) !important;
    @apply rounded-md;
  }

  .react-datepicker__navigation-icon::before {
    border-color: var(--color-background) !important;
  }

  .react-datepicker__time-container {
    min-width: 100px !important; 
    border-color: var(--color-green) !important;
  }

  .react-datepicker__time-box {
    width: 100% !important;
    background-color: var(--color-background) !important;
    color: var(--color-green) !important;
  }

  .react-datepicker__time-list {
    width: 100% !important;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-green) var(--color-shadow); /* for Firefox */
  }

  /* Chrome/Safari scrollbar styling */
  .react-datepicker__time-list::-webkit-scrollbar {
    width: 6px  !important;
  }

  .react-datepicker__time-list::-webkit-scrollbar-thumb {
    background-color: var(--color-green) !important;
    border-radius: 999px !important;
  }

  .react-datepicker__time-list::-webkit-scrollbar-track {
    background: var(--color-shadow) !important;
  }

  .react-datepicker__time-list-item:hover,
  .react-datepicker__day:hover {
    background-color: var(--color-shadow) !important;
    color: var(--color-green) !important;
    @apply rounded-md;
  }

  .react-datepicker__triangle {
    fill: var(--color-green) !important;
    stroke: var(--color-green) !important;
    color: var(--color-green) !important;
  }

  .react-datepicker__day--today {
    background-color: var(--color-green) !important;
    color: var(--color-background) !important;
  }

  .react-datepicker__day--today:hover {
    background-color: var(--color-select) !important;
    color: var(--color-background) !important;
  }

}

@layer utilities {
  /* Chrome/Safari */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 9999s ease-out, color 9999s ease-out;
    transition-delay: 9999s;
  }

  /* Firefox */
  input:-moz-autofill {
    box-shadow: 0 0 0px 1000px var(--color-shadow) inset !important;
    -webkit-text-fill-color: var(--color-green) !important;
  }

}
