/* index.css */
@import 'tailwindcss';

@theme {
    --color-*: initial;
  	--color-accent: #531818;
  	--color-accentHighlight: #732b33;
  	--color-green: #17341a;
    --color-background: #d9c7ad;
  	--color-highlight: #415773;
  	--color-prompt: #3c503fb0;
  	--color-select: #225247;
    --color-shadow: #c1af94;
}
